<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fsotv"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black" >
       
        <activity
            android:name="com.fsotv.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fsotv.VideoDetailActivity"
            android:label="@string/title_activity_video_detail" >
            
        </activity>
        <activity
            android:name="com.fsotv.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name="com.fsotv.BrowseActivity"
            android:label="@string/title_activity_browse" >
        </activity>
        <activity
            android:name="com.fsotv.SocialActivity"
            android:label="@string/title_activity_social" >
        </activity>
        <activity
            android:name="com.fsotv.FavoriteActivity"
            android:label="@string/title_activity_record" >
        </activity>
        <activity
            android:name="com.fsotv.BrowseChannelsActivity"
            android:label="@string/title_activity_browse_channels" >
        </activity>
        <activity
            android:name="com.fsotv.BrowseVideosActivity"
            android:label="@string/title_activity_browse_videos" >
        </activity>
        <activity
            android:name="com.fsotv.MyChannelsActivity"
            android:label="@string/title_activity_my_channels" >
        </activity>
        <activity
            android:name="com.fsotv.WatchVideoActivity"
            android:label="@string/title_activity_watch_video" >
        </activity>
        <activity
            android:name="com.fsotv.MyVideosActivity"
            android:label="@string/title_activity_my_videos" >
        </activity>
        <activity
            android:name="com.fsotv.CategoryActivity"
            android:label="@string/title_activity_category" >
        </activity>
        <activity
            android:name="com.fsotv.CommentsActivity"
            android:label="@string/title_activity_comments" >
        </activity>
    </application>

</manifest>